*{
    margin:0;
    padding:0;
}

/*<!--   navbar:logo+list+log in sign up  . -->*/

.nav{
    display: flex;       
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 66px;
}
.invitation{
    padding-left:45px;    
}
.menu {
display: flex;
flex-grow: 1;
list-style: none;
padding: 6%;
}
.menu ul{
    display: flex;
    justify-items:initial;
    
}
.menu li{
   display: inline;
   justify-content: space-around;
   padding: 11PX;
   
}
.find{
    background-color: #FFF; 
    border-radius: 6px;
}
.banner-button button{
    border:0;
    background-color: #FFF;
}
.banner-button li{ 
    display: inline;
    justify-content: space-between;
    list-style:none;    
    padding: 6px;      
}.logo-place{
    justify-items: center;
}
.logo-place::after{
    
        content: "";
        clear: both;
        display: table;
      
}
 .loogo{
    float: left;
    width: 200px;
    height: 88px;
    padding: 22px;
    align-items: center;
 }
 .banner{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 30px;
    background-color: #000;
    height: 230px;
    margin: 0%3%3%3%;    
    position: relative;
}

.banner-left{
    color: #FFF; 
    z-index: 1;      
}

.banner-left p{
   
   margin-bottom: 30px;
}
.banner-left-2{
    color: #FFF; 
    z-index: 1;      
}
.banner-left-2 p{
    margin-bottom: 11px;      
}
.foto img{
    width: 24%;
    position: absolute;
    z-index: 0;
    right: 41px;
    top: -15px;
}
.foto-2 img{
    width: 36%;
    position:  absolute;
    z-index: 2;
    right: 40px;
    top: -40px;
}
.illustration-place{
    display: flex;
    flex-flow: row;
    margin: 3%;
}
.animation{
    width: 30%;
}
.message{
    padding:5%;
    width: 37%;
    text-align: start;
}


/*      all botton      */
.msg-star{
    text-align: center;    
}
.msg-star button{
    background-image: linear-gradient( to right,
    rgba(242, 115, 60, 1) ,
    rgba(168, 49, 165, 1) );
    padding: 7px;
    border: 0;
    border-radius: 5px;
    color: #FFF;
}

.login{
    width: 10%;
}
.login li{
    list-style: none;
    display: inline;
}
.log-in{
    border: none;
    background-color: #FFF;
    margin-right: 5%;
}
.sign-up{
    background-color: #000;
    color:#fff;
    border-radius: 3px;
}
.google:before{
    content: "";
    display: block;
    background: url("images/Google__G__Logo.svg") no-repeat;
    width: 17px;
    height: 20px;
    float: left;
    margin: 0 0 0 0;
}
.note:before{
    content: "";
    display: block;
    background: url("images/iconmonstr-check-mark-4_1.svg") no-repeat;
    width: 35px;
    height: 25px;
    padding: 0;
    float: left;
    margin: 0 0 0 0;
}
h2:before{
        content: "";
        display: block;
        background: url("images/checkmark.svg") no-repeat;
        width: 35px;
        height: 25px;
        float: left;
        margin: 0 0 0 0;
}
.star{
    background-image: linear-gradient( to right,
    rgba(242, 115, 60, 1) ,
    rgba(168, 49, 165, 1) );
    padding: 7px;
    border: 0;
    border-radius: 5px;
    z-index: 5;
}
.select {
    border: none;
}

        /*      grid foto     */

.grid-place{
display:grid;
}
.grid-place{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22%,4fr));
    column-gap: 1.4%;
    row-gap: 3%;
    padding: 3%;
    }
.col-1 img{
    width: 100%;
}    
.col-2 img{
    width: 100%;
}    
.col-3 img{
    width: 100%;
}    
.col-4 img{
    width: 100%;
} 
/*      footer      */

.footer{
    display: flex;
    justify-content:space-between;
    background-color: #000;
    height: 166px;
    padding: 4%;
    margin: 0%3%1%3%;   
}
.icons img{ width: 25px;
    height: 25px;
    margin: 5px;
    background-color: #FFF;
}
.left{    
    text-align: start;
    color: #FFF;
    width: 25%;
    padding: 22px;
}
.right {    
    display: flex;
}
.right ul{ 
    padding: 22px;
    
}
.right li {
    color: #FFF;
    display: flex;
    padding: 5px;    
    text-decoration: none;
}

.copy-right{
    text-align: center;
    font-size: 18px;
    color: #585555;
    
}